footer.footer
                .container-fluid
                  .row
                    .col-md-12.text-center
                      | 2018 - 2019 © Greeva theme by 
                      a(href='') Coderthemes