doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Greeva - Responsive Bootstrap 4 Admin Dashboard
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(content='A fully featured admin theme which can be used to build CRM, CMS, etc.', name='description')
    meta(content='Coderthemes', name='author')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    include ./css.pug
  body
    #wrapper
      include ./header1.pug
      block content
      footer.footer(style='left:0px;')
            .container-fluid
                .row
                    .col-md-12.text-center
                        | 2019 © Copyright 
                        a(href='') Requin Solutions

    include ./js.pug
