.left-side-menu
        .slimscroll-menu
          // - Sidemenu
          #sidebar-menu
            ul#side-menu.metismenu
              li.menu-title Navigation
              li
                a(href='index.html')
                  i.dripicons-meter
                  span  Dashboard 
              li
                a(href='javascript: void(0);')
                  i.dripicons-mail
                  span  Email 
                  span.menu-arrow
                ul.nav-second-level(aria-expanded='false')
                  li
                    a(href='email-inbox.html') Inbox
                  li
                    a(href='email-read.html') Read Email
                  li
                    a(href='email-compose.html') Compose Email
              li
                a(href='calendar.html')
                  i.dripicons-calendar
                  span  Calendar 
              li.menu-title Components
              li
                a(href='javascript: void(0);')
                  i.dripicons-briefcase
                  span  UI Elements 
                  span.menu-arrow
                ul.nav-second-level(aria-expanded='false')
                  li
                    a(href='ui-buttons.html') Buttons
                  li
                    a(href='ui-modals.html') Modals
                  li
                    a(href='ui-tabs.html') Tabs & Accordions
                  li
                    a(href='ui-notifications.html') Notifications
                  li
                    a(href='ui-cards.html') Cards
                  li
                    a(href='ui-grid.html') Grid
                  li
                    a(href='ui-general.html') General
                  li
                    a(href='ui-typography.html') Typography
                  li
                    a(href='ui-checkbox-radio.html') Checkbox & Radio
                  li
                    a(href='ui-progress.html') Progress
                  li
                    a(href='ui-sweetalerts.html') Sweet Alerts
                  li
                    a(href='ui-range-slider.html') Range Slider
                  li
                    a(href='ui-ribbons.html') Ribbons
              li
                a(href='javascript: void(0);')
                  i.dripicons-graph-bar
                  span  Charts 
                  span.menu-arrow
                ul.nav-second-level(aria-expanded='false')
                  li
                    a(href='chart-flot.html') Flot Charts
                  li
                    a(href='chart-chartist.html') Chartist Charts
                  li
                    a(href='chart-chartjs.html') Chartjs Charts
                  li
                    a(href='chart-knob.html') Jquery Knob
                  li
                    a(href='chart-sparkline.html') Sparkline Charts
              li
                a(href='javascript: void(0);')
                  i.dripicons-document
                  span.badge.badge-danger.float-right 6
                  span  Forms 
                ul.nav-second-level(aria-expanded='false')
                  li
                    a(href='form-elements.html') Form Elements
                  li
                    a(href='form-advanced.html') Form Advanced
                  li
                    a(href='form-validation.html') Form Validation
                  li
                    a(href='form-wizard.html') Form Wizard
                  li
                    a(href='form-summernote.html') Summernote
                  li
                    a(href='form-upload.html') Form Upload
              li
                a(href='javascript: void(0);')
                  i.dripicons-view-list
                  span  Tables 
                  span.menu-arrow
                ul.nav-second-level(aria-expanded='false')
                  li
                    a(href='tables-basic.html') Basic Tables
                  li
                    a(href='tables-datatable.html') Data Tables
                  li
                    a(href='tables-responsive.html') Responsive Tables
              li
                a(href='javascript: void(0);')
                  i.dripicons-map
                  span  Maps 
                  span.menu-arrow
                ul.nav-second-level(aria-expanded='false')
                  li
                    a(href='maps-google.html') Google Maps
                  li
                    a(href='maps-vector.html') Vector Maps
              li
                a(href='javascript: void(0);')
                  i.dripicons-anchor
                  span  Icons 
                  span.menu-arrow
                ul.nav-second-level(aria-expanded='false')
                  li
                    a(href='icons-materialdesign.html') Material Design
                  li
                    a(href='icons-simpleline.html') Simple Line
                  li
                    a(href='icons-dripicons.html') Dripicons
              li.menu-title.mt-2 More
              li
                a(href='javascript: void(0);')
                  i.dripicons-view-apps
                  span.badge.badge-success.float-right New
                  span  Layouts 
                ul.nav-second-level(aria-expanded='false')
                  li
                    a(href='layouts-dark-sidebar.html') Dark Sidebar
                  li
                    a(href='layouts-small-sidebar.html') Small Sidebar
                  li
                    a(href='layouts-sidebar-collapsed.html') Sidebar Collapsed
                  li
                    a(href='layouts-boxed.html') Boxed Layout
              li
                a(href='javascript: void(0);')
                  i.dripicons-user-group
                  span  Authentication 
                  span.menu-arrow
                ul.nav-second-level(aria-expanded='false')
                  li
                    a(href='auth-login.html') Log In
                  li
                    a(href='auth-register.html') Register
                  li
                    a(href='auth-recoverpassword.html') Recover Password
                  li
                    a(href='auth-lock-screen.html') Lock Screen
                  li
                    a(href='auth-404.html') Error 404
                  li
                    a(href='auth-500.html') Error 500
              li
                a(href='javascript: void(0);')
                  i.dripicons-duplicate
                  span  Pages 
                  span.menu-arrow
                ul.nav-second-level(aria-expanded='false')
                  li
                    a(href='pages-invoice.html') Invoice
                  li
                    a(href='pages-pricing.html') Pricing
                  li
                    a(href='pages-starter.html') Starter
                  li
                    a(href='pages-timeline.html') Timeline
                  li
                    a(href='pages-faq.html') FAQs
              li
                a(href='javascript: void(0);')
                  i.dripicons-network-1
                  span  Multi Level 
                  span.menu-arrow
                ul.nav-second-level.nav(aria-expanded='false')
                  li
                    a(href='javascript: void(0);') Level 1.1
                  li
                    a(href='javascript: void(0);', aria-expanded='false')
                      | Level 1.2
                      span.menu-arrow
                    ul.nav-third-level.nav(aria-expanded='false')
                      li
                        a(href='javascript: void(0);') Level 2.1
                      li
                        a(href='javascript: void(0);') Level 2.2
          // End Sidebar